<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534796740132-i4ljrm4rar1dsi29pt055fdo069mmgnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534796740132-i4ljrm4rar1dsi29pt055fdo069mmgnt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534796740132-vhg1n9r2g6n2u9856o1b50flol3aionq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Xv-d3ATCOEZCjXlA7KwvX9J0LoMVr4I</string>
	<key>GCM_SENDER_ID</key>
	<string>534796740132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravi.myFirstApp</string>
	<key>PROJECT_ID</key>
	<string>constructionexpensetrack-358ef</string>
	<key>STORAGE_BUCKET</key>
	<string>constructionexpensetrack-358ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534796740132:ios:e9daf9571ea06f16f05ab1</string>
</dict>
</plist>